/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables */

:root {
    --color-black: #000000;
    --color-charcoal: #344055;
    --color-crimson-ua: #A71D31;
    --color-glaucous: #677DB7;
    --color-oxford-blue: #101D42;
    --color-platinum: #EBEBEB;
    --color-rich-black: #040403;
    --color-silver: #C0C0C0;
    --color-yale-blue: #004E98;
    --width-max: 1100px;
}

/* Reset */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Core Styles */

body {
    background-color: var(--color-platinum);
    color: var(--color-oxford-blue);
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    padding-bottom: 50px;
}

#main-header {
    background-color: var(--color-oxford-blue);
    padding: 4rem 0;
}

#main-header h1,
#main-header h3 {
    color: var(--color-platinum);
}

.container {
    margin: 0 auto;
    max-width: var(--width-max);
    text-align: center;
}

h1 {
    font-size: 2.3rem;
}

#timeline ul {
    background-color: var(--color-platinum);
    padding: 50px 0px;
}

#timeline ul li {
    background-color: var(--color-crimson-ua);
    list-style-type: none;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    width: 6px;
}

/* Boxes */

#timeline ul li div {
    background-color: var(--color-glaucous);
    color: var(--color-platinum);
    position: relative;
    bottom: 0;
    opacity: 0;
    padding: 1rem;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    width: 400px;
}

/* Right Side Boxes */

#timeline ul li:nth-child(odd) div {
    left: 40px;
    transform: translate(200px,0);
}

/* Left Side Boxes */

#timeline ul li:nth-child(even) div {
    left: -434px;
    transform: translate(-200px,0);
}

/* Dots */

#timeline ul li:after {
    background-color: inherit;
    border-radius: 50%;
    bottom: 0px;
    content: '';
    height: 25px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: background 0.5s ease-in-out;
    width: 25px;
}

/* Arrows Base */

#timeline div:before {
    border-style: solid;
    border-color: var(--color-crimson-ua);
    bottom: 5px;
    content: '';
    height: 0px;
    position: absolute;
    width: 0px;
}

/* Ride Side Arrows */

#timeline ul li:nth-child(odd) div:before {
    border-color: transparent var(--color-glaucous) transparent transparent;
    border-width: 8px 16px 8px 0px;
    left: -15px;
}

/* Left Side Arrows */

#timeline ul li:nth-child(even) div:before {
    border-color: transparent transparent transparent var(--color-glaucous);
    border-width: 8px 0px 8px 16px;
    right: -15px;
}

#timeline ul li.show div {
    opacity: 1;
    transform: none;
    visibility: visible;
}

/* #timeline ul li.show:after {
    background-color: var(--color-glaucous);
} */

@media(max-width: 900px) {
    #timeline ul li div {
        width: 250px;
    }
    #timeline ul li:nth-child(even) div {
        left: -284px;
    }
}

@media(max-width: 600px) {
    #timeline ul li {
        margin-left: 20px;
    }
    #timeline ul li div {
        width: calc(100vw - 90px);
    }
    #timeline ul li:nth-child(even) div {
        left: 40px;
    }
    #timeline ul li:nth-child(even) div:before {
        border-color: transparent var(--color-glaucous) transparent transparent;
        border-width: 8px 16px 8px 0px;
        left: -15px;
    }
}